# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

# Flask debugging log
*.log

# Virtual environments
venv/
env/
.virtualenv/

# IDE-specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Deployment-specific files
instance/
*.sqlite3
*.db

# Python package files
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
